nav {
    background-color: #EBE3D5
}
.jumbotron {
    padding-top: 7rem;
    background-color: #F3EEEA;
}
.project {
    background-color: #F3EEEA
}
footer {
    background-color: #EBE3D5;
}

section {
    padding-top: 6rem;
}